rs232_slave/rs232_slave.ko
rs232_slave/rs232_slave.mod.*
rs232_slave/*.o
rs232_slave/.*
rs232_slave/rs232_slave.o
rs232_slave/modules.order
rs232_slave/Module.symvers

rs232_master/.rs232_master.ko.cmd
rs232_master/.rs232_master.mod.o.cmd
rs232_master/.rs232_master.o.cmd
rs232_master/.tmp_versions/
rs232_master/Module.symvers
rs232_master/modules.order
rs232_master/rs232_master.ko
rs232_master/rs232_master.mod.c
rs232_master/rs232_master.mod.o
rs232_master/rs232_master.o
